[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "REXoplanets"]
	path = REXoplanets
	url = https://github.com/jkolomanski/rexoplanets
